@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Regular.ttf");


  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Medium.ttf");

  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-ExtraBold.ttf");

  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lato";

  src: url("./fonts/Lato-Bold.ttf");

  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-ExtraBold.ttf");

  font-weight: 800;
  font-style: normal;
}


html {
  font-size: 10px;
  font-family: "Lato" !important;
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Lato" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // font-size: 10px;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
