@mixin _1170 {
    @media (max-width: 1170px){
        @content;
    }
}
@mixin _834 {
    @media (max-width: 835px){
        @content;
    }
}

@mixin _600 {
    @media (max-width: 600px){
        @content;
    }
}
@mixin _480 {
    @media (max-width: 480px){
        @content;
    }
}
@mixin _320{
    @media (max-width: 320px){
        @content;
    }
}