@import "./var.scss";
@import "./mixin/mixin.scss";

.about {
    padding: 8.7rem 0 10rem;

    @include _834 {
        padding: 4.6rem 0 3.5rem;
    }

    @include _600 {
        padding: 2.5rem 0 5rem;
    }

    .about-container__img {
        @include _834 {
            margin: 0 auto;
            order: 2;
        }
    }

    .about-container__text {

        @include _834 {
            order: 1;
        }
    }

    .about__img {
        width: 100%;
    }

    .about-description {
        height: 100%;
        position: relative;

        @include _834 {
            padding: 0 0 2.3rem;
        }

        .about-title__wrapper {
            margin-bottom: 2.8rem;
    
            .about__title {
    
                &.MuiTypography-root {
                    font-size: 2.5rem;
                    font-weight: 800;
                    text-transform: uppercase;
                    color: $orange;
                    margin-top: 1.3rem;

                    @include _600 {
                        font-size: 2.1rem;
                    }

                    @include _320 {
                        font-size: 1.8rem;
                    }
                }
            }
    
            .about__subtitle {
    
                &.MuiTypography-root {
                    font-size: 2.2rem;
                    font-weight: 800;
                    text-transform: uppercase;

                    @include _600 {
                        font-size: 1.8rem;
                    }

                    @include _320 {
                        font-size: 1.6rem;
                    }
                }
            }
    
        }
    
    
        .about__text {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 3rem;
    
            &.MuiTypography-root {
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 3rem;

                @include _600 {
                    font-size: 1.2rem;
                    line-height: 2.2rem;
                }
            }
        }

        .about-home__wrapper {
            position: absolute;
            top: 1.6rem;
            right: 0;
            z-index: 2;
            transform: translateY(-100%);

            @include _834 {
                right: 5%;
            }

            .about-home__icon {
                width: 8.9rem;
                height: 8.5rem;

                @include _834 {
                    width: 4.4rem;
                    height: 4.1rem;
                }
            }

        }

        .about-rice__wrapper {
            position: absolute;
            top: 0;
            left: 50%;
            z-index: 2;
            transform: translate3d(-50%, -50%, 0);



            .about-rice__icon {
                width: 5.6rem;
                height: 5rem;

                @include _834 {
                    width: 3.9rem;
                    height: 3.4rem;
                    transform: translateX(-100%);
                }
            }
        }

        .about-roll__wrapper {
            position: absolute;
            bottom: 0;
            right: 15%;
            z-index: 2;
            transform: translate3d(-50%, 50%, 0);

            @include _834 {
                top: 0;
                left: 50%;
                transform: translate3d(10%, 5%, 0);
            }

            .about-roll__icon {
                width: 6.6rem;
                height: 5rem;

                @include _834{
                    width: 3.3rem;
                    height: 2.4rem;
                }
            }
        }
    }
}