@import "../style/var.scss";
@import "../style/mixin/mixin.scss";

.button__sm {

    &.MuiButton-root {
        width: 11.5rem;
        height: 4rem;
        border-radius: 2rem;
        color: $dark-black;
        font-size: 1.8rem;
        line-height: 2.1rem;
        font-weight: 700;
        text-transform: lowercase;

        @include _600 {
            width: 9rem;
            height: 3.1rem;
            font-size: 1.6rem;
        }
    }
}

.button__md {

    &.MuiButton-root {
        width: 12.5rem;
        height: 4.5rem;
        border-radius: 2.3rem;
        color: $dark-black;

        @include _834{
            width: 9.5rem;
            height: 3.6rem;
        }

        @include _600 {
            width: 8rem;
            height: 3rem;
        }
    }
}

.button__lg {

    &.MuiButton-root {
        width: 17.5rem;
        height: 4.7rem;
        border-radius: 2.3rem;
        color: $dark-black;
        font-size: 1.8rem;
        font-weight: 700;

        @include _834 {
            width: 12rem;
            height: 4rem;
            font-size: 1.1rem;
            font-weight: 500;
        }
    }
}

.button__xl {

    &.MuiButton-root {
        width: 26.2rem;
        height: 5.4rem;
        border-radius: 2.5rem;
        color: $dark-black;
        font-size: 2.2rem;
        font-weight: 700;

        @include _600 {
            width: 17.5rem;
            height: 4.7rem;
            font-size: 1.8rem;
        }
    }
}

.button__orange {

    &.MuiButton-root {
        background: $orange;

        &:hover {
            background: darken($orange, 10%);
        }
    }
    
}

.button-border__orange {

    &.MuiButton-root {
        border: 1px solid $orange;
        background: inherit;

        &:hover {
            background: darken($orange, 5%);
        }

        &.active {
            background: $orange;
        }
    }
}

.button__green {

    &.MuiButton-root {
        background: $green;

        &:hover {
            background: darken($green, 10%);
        }
    }
}

.button-border__green {

    &.MuiButton-root {
        border: 1px solid $green;
        background: $gray;

        &:hover {
            background: darken($gray, 5%);
        }
    }
}

.button-header__menu {

    &.MuiButton-root {
        margin-right: 5.1rem;

        &:last-child {
            margin-right: 0;
        }

        @include _834 {
            margin-right: 3rem;
        }
    }
}

.button-menu__wrapper {
    width: 20%;
    margin-top: 2.2rem;
}