@import "./var.scss";
@import "./mixin/mixin.scss";

.slick-dots {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;
	
	list-style-type: none;
	
		li {
			margin: 0 0.25rem;

            button {
                width: 1.5rem;
                height: 1.5rem;

				@include _600 {
					width: 1rem;
					height: 1rem;
				}
            }
		}
	
		button {
			display: block;
			width: .5rem;
			height: .5rem;
			padding: 0;
			
			border: none;
			border-radius: 100%;
			background-color: inherit !important;
            border: 1px solid $orange !important;
            
			
			text-indent: -9999px;
		}
	
		li.slick-active button {
			background-color: $orange !important;
		}
	
}